/* accountSettings.css */

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.handlebutton {
    padding: 1em 0 0 0;
}

.colorlight {
    color: #818181;
    font-weight: 400;
    font-size: 12px !important;
    margin: 0px 17px;
    padding: 1em 0em 0em 0em !important;
}

.colorlight2 {
    color: #818181;
    font-weight: 400;
    font-size: 12px !important;
    padding: 1em 0em 0em 0em !important;
}

.text-danger {
    border-radius: 5px;
}

.text-darker-danger {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #DC3545;
}

hr {
    border: 1px solid #775ad6;
}

.cardma {
    box-shadow: none !important;
}

.changingpassword {

    color: #775ad6 !important;
    background: #fff !important;
    border: 1px solid #775ad6 !important;
}

.changingpassword:hover {
    color: #fff !important;
    background-color: #775ad6 !important;
}