.dashboard-content {
    padding: 20px;
}

.divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #ccc;
    /* Customize the color */
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}