body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://via.placeholder.com/1600x900') no-repeat center center/cover;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-forgot {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
}

.card-forgot h2 {
    margin-bottom: 20px;
    color: #333;
}

.card-forgot input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.card-forgot input:focus {
    border-color: #775ad6;
}

.card-forgot button {
    background-color: #775ad6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-forgot button:disabled,
.card-forgot .disabled {
    background-color: #9d86e6;
    color: #fff;
    cursor: not-allowed;
}

.card-forgot button:hover:not(:disabled) {
    background-color: #fff;
    border: 1px solid #775ad6;
    color: #775ad6;
}