.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://via.placeholder.com/1600x900') no-repeat center center/cover;
}

.card-reset {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}

.card-reset h2 {
    margin-bottom: 20px;
}

.card-reset input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.card-reset input.is-invalid {
    border-color: #dc3545;
}

.card-reset .invalid-feedback {
    color: #dc3545;
    font-size: 12px;
}

.card-reset button {
    background-color: #775ad6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-reset button:disabled {
    background-color: #9d86e6;
    cursor: not-allowed;
}

.card-reset button:hover:not(:disabled) {
    background-color: #fff;
    color: #775ad6;
    border: 1px solid #775ad6;
}

.backtologinbtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #775ad6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backtologinbtn:hover {
    background-color: #fff;
    border: 1px solid #775ad6;
    color: #775ad6;
}

.resetlink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-size: 1.2em;
}